.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
  border: 2px solid lightGray;
  padding: 20px;
  border-radius: 10px;
}

.questionCard {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 2px solid lightGray;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

.answerContainer {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 20px;
}

.answerButton {
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #ccc;
}

.correctAnswerButton {
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
  color: white;
}

.wrongAnswerButton {
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
}

.resultCard {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.correctResult {
  color: green;
}

.wrongResult {
  color: red;
}



